@page "/fetchdata"
@using Blazored.LocalStorage;
@using Microsoft.AspNetCore.Components.Authorization;
@inject HttpClient Http
@inject ILocalStorageService localStorageService

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (forecasts == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

<Microsoft.AspNetCore.Components.Authorization.AuthorizeView>
    <Authorized>
        <p>Only authenticated users can see this content.</p>
        @foreach (var claim in context.User.Claims)
        {
            <p>@claim.Type: @claim.Value</p>
        }}
    </Authorized>
    <NotAuthorized>
        <p>You are not authorized to see this content.</p>
    </NotAuthorized>
</Microsoft.AspNetCore.Components.Authorization.AuthorizeView>


@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        Http.DefaultRequestHeaders.Authorization =
             new System.Net.Http.Headers.AuthenticationHeaderValue("bearer", 
             await localStorageService.GetItemAsStringAsync("jwtToken"));


        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("https://localhost:7040/weatherforecast");
    }

    public class WeatherForecast
    {
        public DateOnly Date { get; set; }

        public int TemperatureC { get; set; }

        public string? Summary { get; set; }

        public int TemperatureF => 32 + (int)(TemperatureC / 0.5556);
    }
}
